body {
  color: red;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffff;
}

#cabecera {
  background: #845ec2;
  box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.7);
  width: 100%;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
}

#cabecera img {
  width: 20px;
  margin-right: 10px;
  margin-left: 5px;
}
#cabecera span::before {
  content: '|';
  margin-right: 10px;
}

#cabecera span {
  margin-left: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
}

.post {
  margin-left: 10px;
  font-weight: bold;
}

footer {
  color: white;
  font-weight: normal;
  width: 100%;
  background: #845ec2;
  height: 20px;
  text-align: center;
}
